<div class="has-scrollbar h-auto bg-section-dark-1 flex flex-col gap-8 items-center font-mulish py-12">

  <!-- Título -->
  <h1 class="text-white font-bold text-[24px]">
    <span *ngIf="isEdit">{{ playlistDTO.realName }} <span class="text-[18px] font-[500] text-primary">(editar)</span></span>
    <span *ngIf="!isEdit">Nueva Playlist</span>
  </h1>

  <!-- Formulario -->
  <div mat-dialog-content class="w-full h-full">
    <form (ngSubmit)="onSubmit()" class="h-full grid grid-cols-2 items-start justify-between px-9 gap-8">
      
      <!-- Nombre real -->
      <app-input [(ngModel)]="playlistDTO.realName" name="realName" label="Nombre real" iconLeft="fas fa-search" placeholder="Nombre Real de la Serie"></app-input>
      
      <!-- Nombre completo -->
      <app-input [(ngModel)]="playlistDTO.fullName" name="fullName" label="Nombre completo" iconLeft="fas fa-search" placeholder="nombre-real-de-la-serie"></app-input>

      <!-- Nombre corto -->
      <app-input [(ngModel)]="playlistDTO.shortName" name="shortName" label="Nombre corto" iconLeft="fas fa-search" placeholder="nrdls"></app-input>

      <!-- Estrellas Globito -->
      <app-stars [starCount]="5" [rating]="playlistDTO.starsGlobito!" name="rating-globito" label="Puntuación Globito" (ratingChange)="onRatingGlobitoChange($event)"></app-stars>
      <app-stars [starCount]="5" [rating]="playlistDTO.starsKuki!" name="rating-kuki" label="Puntuación Kuki" (ratingChange)="onRatingKukiChange($event)"></app-stars>
      
      <!-- Imagen -->
      <app-input type="file" (change)="onFileSelected($event)" name="image" label="Imagen de portada" iconLeft="fa-solid fa-image" placeholder="Seleccionar imagen"></app-input>
      <!-- <input type="file" (change)="onFileSelected($event)" name="image" class="block w-full text-sm border rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-gray-700 border-gray-600 placeholder-gray-400 mb-4"> -->

      <!-- <div class="flex items-center justify-center w-full">
        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer bg-gray-700 border-gray-600 hover:border-gray-500 hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" />
        </label>
      </div>  -->


      <!-- <input type="file" (change)="onFileSelected($event)" name="image" class="block w-full text-sm border rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-gray-700 border-gray-600 placeholder-gray-400 mb-4"> -->
      
      <!-- Botones -->
      <div class="w-full flex justify-center items-center gap-4">
        <button class="px-4 py-2 bg-primary text-[#222222] text-[15px] font-bold rounded-md" type="submit">{{ isEdit ? 'Actualizar' : 'Crear' }}</button>
        <button class="px-4 py-2 bg-red-400 text-[#222222] text-[15px] font-bold rounded-md" type="button" (click)="onNoClick()">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- Botones -->
  <!-- <div class="w-full flex justify-center items-center gap-4">
    <button class="px-4 py-2 bg-primary text-[#222222] text-[15px] font-bold rounded-md" type="submit">{{ isEdit ? 'Actualizar' : 'Crear' }}</button>
    <button class="px-4 py-2 bg-red-400 text-[#222222] text-[15px] font-bold rounded-md" type="button" (click)="onNoClick()">Cancelar</button>
  </div> -->
</div>
