<app-navbar></app-navbar>
<section class="min-h-dvh h-full bg-section-dark-1 py-[5%] px-[15%] max-xl:px-[10%] max-md:px-[5%] font-mulish">
  <div class="pt-navbar flex flex-col items-center gap-10 max-sm:gap-5">
    <app-input type="search" placeholder="Buscar..."></app-input>
    <div class="flex flex-wrap gap-4">
      <!-- <img class="w-[360px] grow h-[210px]" src="assets/series/boys-over-flowers.thumbmail.png" alt="">
      <img class="w-[360px] grow h-[210px]" src="assets/series/i-can-hear-your-voice.thumbmail.png" alt="">
      <img class="w-[360px] grow h-[210px]" src="assets/series/i-can-hear-your-voice.thumbmail.png" alt="">
      <img class="w-[360px] grow h-[210px]" src="assets/series/i-can-hear-your-voice.thumbmail.png" alt="">
      <img class="w-[360px] grow h-[210px]" src="assets/series/i-can-hear-your-voice.thumbmail.png" alt="">
      <img class="w-[360px] grow h-[210px]" src="assets/series/i-can-hear-your-voice.thumbmail.png" alt=""> -->
    </div>
    <!-- <app-yt-video-embed ytId="qOncNX5Q4j0"></app-yt-video-embed> -->
  </div>
</section>
