/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/scrollbar-tailwind.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}