/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/scrollbar-tailwind.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

$backdrop-dialog: 0.70;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: auto;

  &:hover {
    scrollbar-color: auto;
  }
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, $backdrop-dialog);
}